# Do not lock the exact package versions for this start environment
# REMOVE IN ACTUAL PROJECT
package-lock.json

# Directories
node_modules
dist
coverage

# Editors
*.sublime-project
*.sublime-workspace
