select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  /*background: url(fff-0-2.png) repeat;*/
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select option {
  color: #666;
}

select:focus::-ms-value {
  background-color: transparent;
}

.select-wrapper:before {
  font-family: fontello;
  content: "\f107";
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  color: #fff;
  pointer-events: none;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    /*background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;*/
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
